<div class="comments">
  <div class="comment-description"><%= time_ago_in_words comment.created_at %> <%= comment.user.username %> disse:</div>
  <div class="comment-option">
	  <%= link_to 'Deletar Comentário', [comment.post, comment],
	               method: :delete,
	               data: { confirm: 'Você tem certeza? Esta ação é irreversível!' } %>
	</div>
  
  <div class="comment-body"><%= comment.body %></div>

</div>