<div class="row-fluid">
  <div class="span8">
    <ul class="all-post">
      <% @posts.each do |post| %>
          <li class="post">
            <h3 class="post-title"><%= link_to post.title, post.url %></h3>
            <div class="inner-details">
              <div class="author">Postado por <%= post.user.username %> em </div>
              <div class="user-options">  
                <% if user_signed_in? %>
                  <ul>
                    <li><%= link_to 'Editar', edit_post_path(post) %></li>
                    <li><%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                <% else %>
                <% end %>
              </div>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="span4">
    <div id="banner-lat">

    </div>
  </div>

</div>


