// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* xxxxxxxxxxxxxx COMMENTS xxxxxxxxxxxxxxxx*/
.comments-all {margin: 30px 0 60px 0;}
.comments{padding:15px 0 10px 0; clear: left; width: 100%;}
.comment-description{font-size: 11px; color: #999; float:left;}
.comment-option{float:right; font-size: 11px;}
.comment-body{font-size: 13px; color: #333; float:left; clear:both; width: 100%; line-height: 16px;}
.comment-txt-area{width: 50%; font-size: 13px;}