// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* xxxxxxxxxxxxxx POST STYLE xxxxxxxxxxxxxx*/
ul, ul li { list-style: none; margin-left: 0;}
.all-post>li { padding: 0 0 15px 0; margin: 0 0 15px; overflow: hidden; border-bottom: 1px solid #eee;}
.post-post{display: block; position:relative; display: block;}
h4.post-title { font-size: 18px; margin: 0; padding: 0; line-height: 20px;}
.post-url {font-size: 11px; line-height: 15px; color: #999; a {color:#999;}}
.inner-details {margin: 0; font-size: 11px; color: #999999; line-height: 15px;}
.author{ float: left; }
.user-options { float:right; ul li { display: inline; margin-left: 5px;} }
.separator {margin: 0 5px 0 5px;}