/*$baseFontFamily:Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

/* xxxx Generals CSS xxxx*/
/*$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: red;*/

@import 'bootstrap';
body{
    padding-top: 70px;
}
a { color:#4183c4; text-decoration: none;}
a:hover { color:#4183c4; text-decoration: underline;}

@import 'bootstrap-responsive';
/*.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}*/
.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

/* xxxxxxxxxxxxxxx BANNER xxxxxxxxxxxxxxxxx*/
#banner-lat{ width: 300px; height: 250px; background-color: #f7f7f7; margin: 0 auto;}
.span4{ padding-top:30px; padding-bottom:50px; /*border: 1px solid #ebebeb; */}